.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
:root {
  --blue: #4ca3dd;
  --grey: #696969;
  --gold: #daa520;
}
.button-blue,
.button-gold,
.button-grey {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
.button-blue {
  background: var(--blue);
}
.button-gold {
  background: var(--gold);
}
.button-grey {
  background: var(--grey);
}
